<div class="home-nav">
	<div class="masthead1 clearfix">
		<div class="inner">
			<h3 class="masthead-brand">Andrew Wold</h3>
			<nav class="nav nav-masthead app-nav">
				<%= nav_helper 'nav-link', 'span' %>
				<%= login_helper 'nav-link' %>
			</nav>
		</div>
	</div>
</div>
