<h1>Pages#contact</h1>
<p><%= number_to_phone "5555555555" %></p>

<!-- <p><%= number_to_currency "150" %></p> -->
<!-- Adds dollar signs -->

<!-- <p><%= number_to_percentage "84" %></p> -->

<!-- <p><%= number_with_delimiter "65432435435435435" %></p>
Adds commas in the places they should go -->
