<h1>Would you like to work together?</h1>
<hr>

<div class="row">
    <div class="col-md-6">
        <h3>Location</h3>

        <p>Franksville, WI</p>

        <h3>Phone</h3>

        <p><%= number_to_phone "2624880115" %></p>

        <h3>Email</h3>

        <p><a href="mailto:taliagranzow@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
    </div>
    <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d93737.24010263942!2d-87.96709696214937!3d42.76109812749653!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880569677aecc581%3A0xf825f0e8321c0aa!2sFranksville%2C+Caledonia%2C+WI!5e0!3m2!1sen!2sus!4v1493744493421" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>


<!-- <p><%= number_to_currency "150" %></p> -->
<!-- Adds dollar signs -->

<!-- <p><%= number_to_percentage "84" %></p> -->

<!-- <p><%= number_with_delimiter "65432435435435435" %></p>
Adds commas in the places they should go -->
