<div class="inner cover">
    <div class="welcome-box">
        <div class="welcome-statement">
            <h1 class="cover-heading-1">Welcome!</h1>
            <p class="lead">I am a Front-End and Back-End Developer with a love for solving complex problems and a passion for finding the most elegant solutions possible. Development is an art, and it is my job to bring creativity and innovation to all of my projects. </p>
            <p class="lead">
                <p>To see more examples of my front-end development, please click below!</p>
        </div>
            <%= link_to "Front-End Development", "http://front.tgranzow.com", class: "btn btn-lg btn-secondary homepage-buttons" %>
            <!-- <a href="/about-me" class="btn btn-lg btn-secondary">Learn more</a> -->
            <!-- <a href="<%= about_me_path %>" class="btn btn-lg btn-secondary">Learn more</a> -->
            <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary homepage-buttons" %>
        </p>
    </div>
</div>
